.img-profile{
	width: 100px;
}
.bg-color-dark {
	background:#666666;
}
.bg-color-tap {
	background:#FFE4B5;
}
.bg-color-tap2 {
	background: #3CB371;

}
.bg-color-tap3{
	background:#FFFF00;
}
.bg-color-tap4{
	background: #9932CC;
}
.bg-Lavender{
	background: #DCDCDC;
}
.bg-WhiteSmoke{
	background: #babfc3;
}
.bg-Yellow{
	background: #FFFF00;
}
.bg-Chocolate{
	background: #D2691E;

}
.col-lg-9{
	padding-top: 20px;
	padding-bottom: 20px;
}
.col-lg-3{
	padding-top: 20px;
}
.bg-SlateBlue{
	background: #6A5ACD;
}
.pt-5{
	padding-bottom: 30px;
}
.font-01{
	font-family: 'Saira Extra Condensed', sans-serif;
font-family: 'Inconsolata', monospace;
}