.img-profile{
	width: 100px;
}
.bg-color-dark {
	background:#DCDCDC;
}
.bg-color-tap {
	background:#FFE4B5;
}
.bg-color-tap2 {
	background: #3CB371;

}
.bg-color-tap3{
	background:#1E90FF;
}
.bg-color-tap4{
	background: #9932CC;
}
.bg-Lavender{
	background: #FFF0F5;
}
.bg-WhiteSmoke{
	background: #F5F5F5;
}